<app-nav [Transparent]="false"></app-nav>
<br>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="itemFullText">
        <h3 style="text-align: center;">Donate with Credit Card</h3>
        <div align="center">
          <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=LLQX7YXDUTRCS&source=url"><button
              type="button" class="btn btn-primary btn-lg">Donate With PayPal</button></a>
        </div>
      </div>
      <hr>
      <div class="itemFullText">
        <h3 style="text-align: center;">Direct Withdrawal (Monthly)</h3>
        <p style="text-align: center;">The retreat center now has an option for direct withdrawal!&nbsp;Have your
          monthly
          tithe
          automatically deducted&nbsp;from your checking or savings bank account without having to write a check every
          month.
        </p>
        <div align="center">
          <button class="tithely-give-btn"
            style="background-color: #ff3366;font-family: inherit;font-weight: bold;font-size: 19px; padding: 15px 70px; border-radius: 4px; cursor: pointer; background-image: none; color: white; text-shadow: none; display: inline-block; float: none; border: none;"
            data-church-id="806338">Give With Tithe.ly</button>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>