<app-nav [Transparent]="false"></app-nav>
<br>
<br>
<br>
<br>
<br>
<div class="itemFullText">
  <h3 style="text-align: center;">Donate with Paypal</h3>
  <div align="center">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <p><input name="cmd" type="hidden" value="_s-xclick"> <input name="hosted_button_id" type="hidden"
          value="CTM87S6TESV9S"> <input alt="PayPal - The safer, easier way to pay online!" name="submit"
          src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" type="image"> <img
          src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" alt="" width="1" height="1" border="0"></p>
    </form>
  </div>
  <h3 style="text-align: center;">Direct Withdrawal</h3>
  <p style="text-align: center;">The retreat center now has an option for direct withdrawal!&nbsp;Have your monthly tithe
    automatically deducted&nbsp;from your checking or savings bank account without having to write a check every month.
  </p>
  <p style="text-align: center;"><a href="/StMarkBankDirectWthdrwal.pdf" target="_blank">You can download the Direct
      Withdraw Form from here</a></p>
  <p style="text-align: center;">Please Print, Fill, attach a voided check and handle to Mr. Maged Essak in church or
    mail to:</p>
  <p style="text-align: center;">&nbsp;<strong>St. Mina Retreat Center</strong></p>
  <p style="text-align: center;"><strong>&nbsp;Attn: Treasurer</strong></p>
  <p style="text-align: center;">&nbsp;P.O. Box 692</p>
  <p style="text-align: center;">&nbsp;Troy, MI 48099</p>
</div>