<app-nav [Transparent]="false"></app-nav>
<br>
<br>
<br>
<br>
<section class="mbr-section mbr-section-nopadding mbr-after-navbar" id="content5-m">
  <div class="container">
      <h3 class="mbr-section-title display-2">Lodging</h3>
      <div class="lead"><p>
        The cost of lodging at St. Mina Retreat center is $20.00 per person per night based on double occupancy and maximum of 4 persons per room.
      </p>
      <p>For reservation or more details please contact us by email <a class="lead" href="mailto:info@stminaretreatcenter.org">info@stminaretreatcenter.org</a> or by phone <a class="lead" href="tel:12482253863">+1 (248) 225 3863</a>.</p>
    </div>
  </div>
</section>