<div class="row">
    <div class="col-lg-6">
        <h5> iOS Preview </h5>
        <img src="../app2/components/templates/iosPreview.PNG" />
    </div>
    <div class="col-lg-6">
        <h5> Android Preview  </h5>
        <img src="../app2/components/templates/androidPreview.PNG" />
    </div>
</div>
<br />
<label class="custom-file">
    <input type="file" id="file2" (change)="fileChange($event)" class="custom-file-input">
    <span class="custom-file-control"></span>
</label>
<div class="row">
    &nbsp;
</div>
<div class="row">
    <div class="col-lg-12">
        <button class="btn btn-default">Publish</button>
    </div>
</div>
