<div class="row">
    <div class="col-lg-6">
        <h6 class="text-center"> <small> No iOS Preview Available </small> </h6>
    </div>
    <div class="col-lg-6">
        <h6 class="text-center"><small> No Android Preview Available </small> </h6>
    </div>
</div>
<label class="custom-file">
    <input type="file" id="file2" (change)="fileChange($event)" class="custom-file-input">
    <span class="custom-file-control"></span>
</label>
<div class="row">
    &nbsp;
</div>
<div class="row">
    <div class="col-lg-12">
        <button class="btn btn-default">Submit</button>
    </div>
</div>
