<div class="row">
    <div class="col-lg-2">
        <label>Messages</label>
        <nav class="nav flex-column">
            <a class="nav-link " routerLink="/banner" href="#">Banner</a>
            <a class="nav-link" routerLink="/marketing">Marketing Ad</a>
            <a class="nav-link" routerLink="/popup">Popup</a>
            <a class="nav-link" routerLink="/acknowledgment">Acknowledgment</a>
            <a class="nav-link disabled" onclick="alert('This feature in the development backlog.')" href="#">Pre-login</a>
        </nav>
    </div>
    <router-outlet></router-outlet>
</div>



