<section class="mbr-section mbr-section__container mbr-section__container--first" id="header3-0">
    <div class="container">
        <div class="row">
                <h3 class="mbr-section-title display-2">{{news.title}}</h3>
                <small>By {{news.displayAuthorName}}, posted on {{news.dateTime}} </small>
        </div>
    </div>
</section>
<section class="mbr-section mbr-section__container mbr-section__container--last" id="content1-1">
    <div class="container">
        <div class="row">
             <p [innerHTML]="news.news | safeHtml"></p>
        </div>
    </div>
</section>