<app-nav [Transparent]="false"></app-nav>
<br><br><br><br>
<section class="mbr-section mbr-section-nopadding mbr-after-navbar" id="msg-box4-i"
    style="background-color: rgb(255, 255, 255); padding-top: 0rem; padding-bottom: 0rem;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="mbr-section-title h1">The Life of St. Mina</h3>
                <div class="col-6">
                    <div class="mbr-figure"><img src="/assets/images/st-mina-edited-1400x1961-41.jpeg"></div>
                </div>
                <div class="lead">
                    <p>
                        The Martyrdom of Saint Mari-Mina, the Wonder Worker
                    </p>
                    <p>On this day St. Mina, who is called the blessed faithful, was martyred. His father, Eudoxius, was
                        a native of the city of Nakiyos (Nikiu) and was its Governor. His brother was envious of him and
                        he brought charges against him before the Emperor. The Emperor transferred him to Africa and
                        appointed him Governor over it. The people were pleased with him because he was merciful and
                        God-fearing.</p>
                    <p>His mother Euphemia had no children. One day she went to church on the feast of our Lady, the
                        Virgin, the Mother of God, at Attribes. She saw the children in the church wearing their
                        beautiful clothes with their parents. She heaved a sigh and wept before the icon of Our Lady St.
                        Mary, entreating her to intercede for her before her beloved Son, in order that He would give
                        her a son. A voice came from the icon saying, "Amen." She rejoiced in what she had heard and
                        realized that the Lord had heard her prayers. When she returned to her home and told her husband
                        about it, he replied, "May God's Will be done."<br></p>
                    <p>The Lord gave them this saint and they called him Mina, according to the voice that his mother
                        heard. When he grew, his parents taught him reading and writing and they reared him in a
                        Christian manner. When he was eleven years old, his father departed at a good old age. Then his
                        mother departed three years later. St. Mina devoted his life to fasting, praying and to living a
                        Christian life. Because of everyone's love towards him and his father, they placed him in his
                        father's position. In spite of that, he did not forsake his worshipping.<br></p>
                    <p>When Diocletian had reneged Christianity and issued his orders to worship idols, many were
                        martyred for the Name of the Lord Christ. St. Mina left his position and went to the desert,
                        where he stayed many days worshipping God with all his heart.<br></p>
                    <p>One day he saw the heavens open and the martyrs crowned with beautiful crowns. He heard a voice
                        saying, "He who toils for the Name of the Lord Christ shall receive these crowns." He returned
                        to the city over which he was Governor and confessed the Name of the Lord Christ. Knowing that
                        he belonged to a noble family, they tried to dissuade him from his faith and promised him honors
                        and precious gifts. When he did not change his mind, they threatened him and the Governor
                        ordered him to be tortured. When the Governor failed to turn him away from his faith in the Lord
                        Christ, he sent him to his brother so that he might influence him but he failed also. Finally,
                        he ordered his head to be cut off with the sword, his body to be cast in the fire and his ashes
                        to be scattered in the wind. The body remained in the fire for three days and three nights, but
                        it was not harmed.<br>
                    </p>
                    <p>His sister came and gave the soldiers a lot of money and they let her take the body. She put it
                        in a sack made of fronds and decided to go to Alexandria, as her brother had previously advised
                        her. She embarked with her brother's body on one of the ships to Alexandria. During their trip,
                        sea beasts came out of the water and attacked the passengers aboard the ship. They were
                        frightened and screamed with fear. The Saint's sister prayed to the Lord and asked for the
                        intercession of her brother. While the passengers were in fear, fire went forth from her
                        brother's body and burned the faces of the beasts. They dived immediately into the water and as
                        they reappeared, the fire burned them again. They finally dived and did not reappear. When the
                        ship arrived at the city of Alexandria, most of the people went out with the father, the
                        Patriarch. They carried the holy body with reverence and honor and entered the city with a
                        venerable celebration and placed it in the church, after they shrouded it in expensive shrouds.
                        When the time of persecution ended, the angel of the Lord appeared to the honorable Patriarch,
                        Anba Athanasius, the Apostolic. The angel informed him of the Lord's command which was to place
                        the body of St. Mina on a camel and to take it out of the city without letting anyone lead it,
                        but to follow it from a distance until it stopped at a place that the Lord had designated. They
                        walked behind the camel until they arrived at a place called Lake Bayad, in the district of
                        Marriot. There they heard a voice saying, "This is the place where the Lord wishes the body of
                        his beloved Mina to be placed." They lowered the body and placed it in a coffin, then they
                        situated it in a beautiful garden and many miracles happened through the body.<br>
                    </p>
                    <p>Later on, the people of Pentapolis (the five cities) rose against the cities around Alexandria.
                        The people were getting ready to face the Berbers, and the Governor decided to take the body of
                        St. Mina with him to be his deliverer and his strong protector. He took the body secretly and
                        through the blessings of this saint, he overcame the Berbers and returned victorious.<br></p>
                    <p>he Governor decided not to return the body of the Saint to its original place and wanted to take
                        it to Alexandria. On the way back, they passed by Lake Bayad, St. Mina's original place. The
                        camel carrying the body knelt down and would not move in spite of frequent beatings. They moved
                        the body over another camel, but again this second camel did not move from its place. The
                        Governor finally realized that this was the Lord's command. He made a coffin from
                        decay-resistant wood and placed the silver coffin in it. He then returned it to its place and
                        invoked St. Mina's blessings, then returned to his city.
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="mbr-section mbr-section-nopadding" id="msg-box4-j"
    style="background-color: rgb(255, 255, 255); padding-top: 0rem; padding-bottom: 0rem;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="mbr-section-title h1">The Life of Pope Kyrillos VI</h3>
            </div>
            <div class="col-6">
                <div class="mbr-figure"><img src="/assets/images/popekyrillos-1400x2226-94.jpeg"></div>
            </div>
            <div class="col-xs-12">
                <div class="lead">
                    <p>On March 9 (Amshir 30), the remembrance of the departure of the Great Pope (Papa Ava) Kyrillos
                        (Cyril) VI, the 116th successor of St. Mark the Evangelist. He was pope of Alexandria and
                        Patriarch of the See of St. Mark befor our present pope, Papa Ava Shenouda III. Anba (His
                        Holiness) Kyrillos was a holy man who through full dedication to the life of prayer and fasting
                        posessed many higher gifts which included performing wonders and miracles, the gift of
                        knowledge, and an unusual ability to lead by example. which was missing for generations before
                        his ascending to the throne of St. Mark. He set on the chair of St. Mark for twelve years
                        (1959-1971). He had the honor and showed the wisdom needed to guide the Coptic Church through
                        the difficult times of the 1960's when the government of then Gamal Abdul-Nasser was
                        nationalizing business, real estate, and land including those willed to the churches and
                        monasteries. He was highly regarded by the people of Egypt from all walks of life Christian and
                        non-Christian alike.&nbsp;</p>
                    <p>Pope Kyrillos VI was born August 2, 1902 as Azer Ata, the son of a church deacon from a middle
                        class family. After completing high school, Azer went to work for a shipping company in
                        Alexandria. Much against his family's wishes, he resigned his job with the intention of becoming
                        a monk and entered the monastery of Baramous (named after Sts. Maximus and Domadius) in the
                        Western Desert of Egypt in an area called bariaat Sheheet (the prairie of the heart's scale). On
                        the 25th of February, 1928, he was consecrated monk. He was given the monastic name "Mena" after
                        St. Menas his patron saint. Three years later he was ordained a priest, July 18, 1931.&nbsp;</p>
                    <p>Fr. Mena attended the Helwan Theological College and was rated one of the top students. Later, he
                        retired to a cave two miles away from the monastery to live a life of solitude. That is how he
                        came to be known as "Abouna Mena Al-mota-Wahed" (Fr. Mena the Solitaire). Afterwards, he was
                        appointed abott of the Monastery of St. Samuel in the eastern desert, south of Suex near the Red
                        Sea. He devoted a great deal of effort toward the restoration of this historic landmark.&nbsp;
                    </p>
                    <p>When the monastery of St. Samuel was restored, he left that area and moved to a deserted windmill
                        south of Cairo (the windmill belonged to the Army, and long after, it was revealed that he paid
                        a nominal rent for it when he found out that it belonged to the Army). This is near the historic
                        region of "Masr Al-Kadema" (ancient Cairo). He restored the place and built a small residence
                        and a church on the name of St. Mena his patron saint. He found himself surronded with college
                        students, many of them are from outside Cairo, so, he started a dormitory for students who neede
                        this service. This informal program produced the first church affiliated dorm in modern times in
                        Egypt, and produced countless church leaders, some of whom are our present bishops, priests, and
                        Laity leaders. The likes of His Holiness Pope Shenouda (his successor), the late bishop Samuel,
                        .. etc.&nbsp;</p>
                    <p>After the abduction of his predecessor, the late pope Youssab (Joseph) II by militant Copts, the
                        church was in great turmoil which did not last long, because it was the will of God the pope
                        Youssab departed shortly thereafter.&nbsp;</p>
                    <p>In April, 1959, Fr. Mena Al-Mota-Wahed was elected pope and patriarch through the unique process
                        used in the Coptic Church to elect a pope. Candidates for the honorable position are nominated,
                        three or four of the nominees are elected by the Holy Synod as most qualified. The final
                        selection is left to the will of God and the guidance of the Holy Spirit, by placing the names
                        on the altar during the appointed day of final selection. A young deacon is then asked to draw a
                        name which is then the one chosen by God from among the qualified candidates for this high
                        calling.&nbsp;</p>
                    <p>In May, 1959, Fr. Mena became pope and patriarch by the laying of the hands of all the bishops of
                        the Coptic Church at the time, he was called pope Kyrillos VI (That means that five popes before
                        him were called Kyrillos. The first pope Kyrillos is Cyril of Alexandria the pillar of
                        faith).&nbsp;</p>
                    <p>During his tenure as patriarch, many were attracted to monastic life and to the priesthood by his
                        good example and sincere life style. As a teen-ager growing in Egypt at the time I used to
                        attend Vespers regularly at the Great St. Mark Cathedral (Al-darb Al-wasse) in Cairo where his
                        holiness lead the prayers and many of us had the blessing of seeing him, talking to him, and
                        getting his blessings. He always paid attention to the people and spent many hours blessing and
                        chatting with young and old. He always encouraged us during exams seasons, and prayed for our
                        success. No wonder many joined the priesthood from the ranks of college graduates in all fields
                        which was previously not considered the thing to do! Many books have been written about his
                        life, wonders and miracles. The author recommends the publications of Pope Kyrillos the VI
                        Society which are published originally in Arabic and translated to many live languages (English,
                        French, German, .. etc.). We are going to mention just a few, some have not published elsewhere
                        and was related to the author by relatives and friends:&nbsp;</p>
                    <p>His Holiness had the gift of knowledge, so one day, he was visited by two men, one was well known
                        to his holiness. When the gentleman introduced his friend to his holiness, Pope Kyrillos looked
                        at the man and said: "Why don't you like us?" I love you and like to see you here always. The
                        man was very ashamed because he thought evil of our beloved pope and had argued with his friend
                        about the use of meeting a 'simple' man. This man became a great admirer of Anba Kyrillos and
                        his son was healed from terrible illness through the prayers of Anba Kyrillos.&nbsp;</p>
                    <p>Miracles of heeling and casting out of devils from a non-Christian young lady was related to me
                        by a very dear relative. She was the daughter of his boss in a textile factory near Alexandria.
                        She was one of 22 children, possessed by demons and was withering away. Her father loved her
                        very much. He spent a fortune on real doctors and witch doctors as well, with no results. On
                        day, he called my relative to his office and said, you have "Sheik Kebeer" (Great Elder)? can
                        you introduce me to him? My relative promised to arrange a meeting, he traveled to Cairo and
                        arranged with the pope's secretary a meeting for the afternoon of a specified date. He was
                        supposed to meet them at the door and introduce them to the staff to take them to the house of
                        the patriarchate. The people were very anxious, they arrived early. His Holiness recognized them
                        although he was not told (ordinarily, people were brought in, and they told him their needs).
                        Anba Kyrillos called the young lady by her first name. Put his cross on her forehead, she fell
                        down sobbing. From that moment on, she was completely whole.&nbsp;</p>
                </div>

            </div>

        </div>
    </div>
</section>