<app-nav [Transparent]="true"></app-nav>
<section class="carousel slide cid-rquI0ZF9tm" data-interval="false" id="slider1-3">
  <div class="full-screen">
    <div class="mbr-slider slide carousel" data-pause="true" data-keyboard="false" data-ride="carousel"
      data-interval="4000">
      <ol class="carousel-indicators">
        <li data-app-prevent-settings="" data-target="#slider1-3" class=" active" data-slide-to="0">
        </li>
        <li data-app-prevent-settings="" data-target="#slider1-3" data-slide-to="1">
        </li>
        <li data-app-prevent-settings="" data-target="#slider1-3" data-slide-to="2">
        </li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item slider-fullscreen-image active" data-bg-video-slide="false"
          style="background-image: url(assets/images/church.jpeg);">
          <div class="container container-slide">
            <div class="image_wrapper">
              <div class="mbr-overlay" style="opacity: 0;">
              </div>
              <img src="assets/images/church.jpeg">
              <div class="carousel-caption justify-content-center">
                <div class="col-10 align-center">
                  <h2 class="mbr-fonts-style display-1">
                    St. Mina Retreat Center
                  </h2>
                  <div class="mbr-section-btn" buttons="0">
                    <a class="btn  display-4 btn-secondary" href="/donate">
                      Donate
                    </a>
                    <a class="btn  btn-white-outline display-4" href="/calendar">
                      Calendar
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item slider-fullscreen-image" data-bg-video-slide="false"
          style="background-image: url(assets/images/dscn2195-2000x1179-50.jpeg);">
          <div class="container container-slide">
            <div class="image_wrapper">
              <div class="mbr-overlay" style="opacity: 0;">
              </div>
              <img src="assets/images/2.jpg">
              <div class="carousel-caption justify-content-center">
                <div class="col-10 align-left">
                  <h2 class="mbr-fonts-style display-1">
                    St. Mina Retreat Center</h2>
                  <div class="mbr-section-btn" buttons="0">
                      <a class="btn  display-4 btn-secondary" href="/donate">
                        Donate
                      </a>
                      <a class="btn  btn-white-outline display-4" href="/calendar">
                        Calendar
                      </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item slider-fullscreen-image" data-bg-video-slide="false"
          style="background-image: url(assets/images/new-building-2-2000x1127-28.jpeg);">
          <div class="container container-slide">
            <div class="image_wrapper">
              <div class="mbr-overlay" style="opacity: 0;">
              </div>
              <img src="assets/images/3.jpg">
              <div class="carousel-caption justify-content-center">
                <div class="col-10 align-right">
                  <h2 class="mbr-fonts-style display-1">
                    St. Mina Retreat Center
                  </h2>
                  <div class="mbr-section-btn" buttons="0">
                      <a class="btn  display-4 btn-secondary" href="/donate">
                        Donate
                      </a>
                      <a class="btn  btn-white-outline display-4" href="/calendar">
                        Calendar
                      </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>