<app-nav [Transparent]="false"></app-nav>
<section class="mbr-section content4 cid-rr9S5NAU38" id="content4-5">
  <div class="container">
    <div class="media-container-row">
      <div class="title col-12 col-md-8">
        <h2 class="align-center pb-3 mbr-fonts-style display-2">
          &nbsp;</h2>
        <h2 class="align-center pb-3 mbr-fonts-style display-2">
          &nbsp;</h2>
        <h2 class="align-center pb-3 mbr-fonts-style display-2">
          About Us</h2>
        <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">Saint Mina Retreat Center
          lies on forty-five acres of land located in Mio, Michigan. Saint Mina Coptic Orthodox Church is located on
          the property of St. Mina Retreat Center for religious services and quiet meditation. The newly completed
          building houses sleeping rooms for family and youth retreats, a reception area with a library, meeting
          rooms, and kitchen amenities. The location of the land provides a wonderful opportunity for those who wish
          to leave the outside world behind and enjoy the serenity of a remote wooded area surrounding a gorgeous body
          of water. Such peaceful ambiance truly offers the person an opportunity to examine the soul and find
          calmness and positive energy. You are invited to participate in a moving and magnificent time meditating on
          the Word of God from the Holy Scriptures and ways to apply it in your life. St. Mina Retreat Center will
          provide you with the proper atmosphere to achieve this goal. You are encouraged to take full advantage of
          what St. Mina Retreat Center has to offer.</h3>
      </div>
    </div>
  </div>
</section>
<section class="mbr-section mbr-section-nopadding" id="msg-box5-f" style="padding-top: 0rem; padding-bottom: 0rem;">
  <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(255, 255, 255);"></div>
      <div class="row">

          <div class="col-xs-12 col-lg-3 mbr-inner-padding text-xs-center mbr-table-cell-lg">
              <h3 class="h1">St Mina Retreat Center 10 Year Anniversary Video 2015</h3>



          </div>
          <div class="col-xs-12 col-lg-9 mbr-table-cell-lg image-size" style="width: 51%;">
              <div class="mbr-figure"><iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/zPCjzuZx928?rel=0&amp;amp;showinfo=0&amp;autoplay=0&amp;loop=0" width="1280" height="720" frameborder="0" allowfullscreen="" style="height: 307.125px;"></iframe></div>
          </div>
  </div>
</section>